<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Resultaat</title>
  </head>
  <body>
    <h1>Resultaat</h1>
    <p>Kopieer de volgende tekst naar een andere applicatie:</p>
    <textarea rows="4" cols="50"><%= text %></textarea>
    


    <p><%= text %></p>
    <button onclick="copyText()">Kopiëren</button>

    <script>
        function copyText() {
            const textarea = document.createElement('textarea');
            textarea.value = '<%= text %>';
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand('copy');
            document.body.removeChild(textarea);
        }
    </script>
  </body>
</html>
